<nav class="py-2 px-6 flex items-end justify-between border-b-2 border-slate-900">
  <%= link_to "RUBY NOTES", root_path, class: "text-xl font-bold no-underline inline-block" %>
  <ul class="flex gap-4">
    <% if user_signed_in? %>
      <li class="nav-link"><%= link_to "NEW POST", new_blog_post_path, class: "no-underline" %></li>
      <%# <li><%= link_to "Profile", edit_user_registration_path %></li>
      <li><%= button_to "LOG OUT", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
    <% else %>
    <%# <%= link_to "Log in", new_user_session_path %> 
    <%# <%= link_to "Sign up", new_user_registration_path %>
      <li class="p-0"><%= link_to "ADMIN", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>