<div class="max-w-sm mt-12 mx-auto">
  <div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-label">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field form-label">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions mt-6">
        <%= f.submit "Log in", class: "bg-pink-300 px-4 py-2 rounded hover:bg-pink-600 hover:cursor-pointer" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>