<!DOCTYPE html>
<html>
  <head>
    <title>Learn Rails Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-gray-900 flex flex-col min-h-screen justify-between">
    <div class="mx-auto w-full px-4 md:px-12 max-w-7xl">
      <%= render "home/header" %>
      <p class="notice text-pink-600 opacity-0 animate-fade-out"><%= notice %></p>
      <p class="alert text-pink-600 opacity-0 animate-fade-out"><%= alert %></p>

      <%= yield %>
    </div>
    <div class="mx-auto w-full px-4 md:px-12 max-w-7xl">
      <%= render "home/footer"%>
    </div>
  </body>
</html>
